name: Release
on:
#  release:
#    types: [created]
  workflow_dispatch: # Kept for manual use if needed, but essentially "skips" automatic execution
jobs:
  build:
    runs-on: ubuntu-latest
    environment: Main
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          registry-url: "https://registry.npmjs.org"
      - run: npm ci
      - run: npm run build
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_PUBLISH_TOKEN}}
